.container {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.center {
  width: 50%;
  padding: 20px;
  color: #ffffff;

  .search-label {
    font-size: 4em;
    vertical-align: bottom;
  }

  .search-bar {
    width: 90%;
    border-radius: 25px;
    border-style: none;
    height: 2em;
    padding: 5px 5px 5px 15px;
    color: #264653;
    background: #ffffff;
    font-size: 1.25em;
  }
}
