.container {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.center {
  width: 50%;
  border-radius: 25px;
  background: #EDCE85;
  padding: 20px;
  color: #264653;
  box-shadow: 3px 3px 3px #264653;
}
